.App {
  text-align: center;
  background-color:"#000001" !important;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.snaptrude-button {
  color: #fff !important;
  background-color: #0a57fe !important;
  border-radius: 50px !important;
  padding: 8px 18px 9px !important;
  font-weight: 500 !important;
  line-height: 21px !important;
  transition: border-color .15s,color .15s,background-color .15s !important;
}
.snaptrude-button:hover{
  background-color: #3e70db !important;
  cursor: pointer !important;
}
.map-layout-options{
  color: #0957fe !important;
}
.map-layout-options:hover{
  background-color: #fff !important;
}